*{
    padding: 0px;
    margin: 0px;
}

p{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

h2{
  font-size: 20px;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}

button{
  background-color:#e6f7fe;
  color: rgb(22, 22, 22);
  font-weight: 600;
  border-radius: 7px;
  font-size: 17px;
  padding: 20px 23px;
  box-shadow: rgb(0, 0, 0) 3px 3px;
  border: 3px solid black;
}


/*header section*/
header {
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header img{
    height: 200px;
    width: 200px;
    padding-left: 90px;
    display: inline;
}

header ul {
  margin: 20px auto;
  padding-right: 50px;
  text-align: center;
  display: inline-block;
}


header li{
  color: black;
  font-family: 'Urbanist', sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  width: 300px;
}

header i{
  color: #7ba4fc;
  font-size: 1.5rem;
}

/*menubar*/

.menubar {
  background-color: #20bad1;
  color: white;
  position: sticky;
  top: 0px;
  min-width: 100%;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.menubar ul{
  text-align: center;
  display: inline;
  width: 70%;
}

.menubar li{
  color: white;
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  padding: 20px 0px;
  width: 100px;
}

.menubar a{
    color: white;
    transition: color 200ms ease-out 100ms;
}

a:hover {
  color: black;
}

/*header and intro*/
.over{
  background-color:#cfdcfc;
  padding-top: 100px;
  padding-bottom: 100px;
}

.over h1{
  text-align: center;
  font-size: 4rem;
}

.over #intro{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.over p{
  max-width: 650px;
  padding-top: 40px;
  line-height: 1.7rem;
  font-weight: 500px;
  font-size: 17px;
}


@media only screen and (max-width: 1440px){
  .over{
    max-height: 450px;
  }
}

/*hoe begonnen*/

.meerover{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin: 0 auto;
}


.meerover .hoebegonnen{
    max-width: 500px;
    text-align: left;
    padding-bottom: 30px;
    margin-right: 20px;
}

.meerover .hoebegonnen h2{
    color:cadetblue;
    padding-bottom: 7px;
    padding-left: 10px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
}

.meerover .hoebegonnen p{
    padding: 0px 10px;
    line-height: 1.7rem;
    color:rgb(77, 77, 77);
    font-size: 17px;
    font-weight: 500;
}


.meerover .kwaliteitencontainer .topbar{
  height: 30px;
  background-color:#cfdcfc;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.meerover .kwaliteitencontainer .topbar i{
  color: black;
  font-size: 2.5rem;
}

.meerover .kwaliteitencontainer .bottombar{
  height:30px;
  background-color:#cfdcfc;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
}

.meerover .kwaliteitencontainer .kwaliteiten{
    flex-direction: column;
    justify-content: space-between;
    width: 550px;
    padding-right: 10px;
    height: 450px;
    overflow:scroll;
    border: 3px solid black;
}

.meerover .kwaliteitencontainer .kwaliteiten .kwaliteit{
    margin: 30px 5px;
    text-align: left;
    padding: 0px 20px;
    display: flex;
}

.meerover .kwaliteitencontainer .kwaliteiten .kwaliteit h2{
    color:#20bad1;
    padding-bottom: 4px;
    padding-left: 15px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.meerover .kwaliteitencontainer .kwaliteiten .kwaliteit p{
    padding-left:15px;
    line-height: 1.7rem;
    color:rgb(77, 77, 77);
    font-weight: 500;
    font-size: 17px;
}

.meerover .kwaliteitencontainer .kwaliteiten .kwaliteit i{
    font-size: 27px;
    display: inline;
    color:#20bad1;
}



/*Call to action*/
.leesmeer{
  display: flex;
  justify-content: center;
  min-height: 350px;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.leesmeer h1{
  padding-bottom: 40px;
}
