*{
    padding: 0px;
    margin: 0px;
}

p{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

h2{
  font-size: 20px;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}

button{
  background-color:#e6f7fe;
  color: rgb(70, 70, 70);
  font-weight: 600;
  border-radius: 7px;
  font-size: 18px;
  padding: 20px 27px;
  box-shadow: rgb(0, 0, 0) 3px 3px;
  border: 2px solid black;
  transition: all 250ms ease-out 100ms;
}

button:hover{
  background-color: #cddeff;
  box-shadow: none;
  cursor: pointer;
}

/*header section*/
header {
  background-color: #e6f7fe;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0px
}

header img{
    height: 110px;
    width: auto;
    display: inline;
    padding-left: 90px;
}


header .contentbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .contentbox ul{
  list-style-type: none;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  padding-right: 90px;
}


header .contentbox i{
  color: #20bad1;
  padding-right: 10px;
  font-size: 1.5rem;
}

header .contentbox .headercontact li{
  padding-top: 10px;
}

@media only screen and (min-width: 481px) and (max-width: 768px){
  header img{
    height: 90px;
  }
}

@media only screen and (max-width: 480px){
 header .contentbox{
  margin-right:auto;
  margin-left: auto;
 }
 header img{
  padding-left: 0px;
 }
}


/*menubar*/

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
    position: sticky;
    top: 0;
    background-color: #2a4e9a;
    color:#cddeff;
    z-index: 100;
}

.navbar-container{
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
}

.navbar-container .navbar-menu{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style-type: none;
}


.navbar-container .navbar-menu li a{
    color: #e6f7fe;
    transition: all 200ms ease-out 100ms;
    text-decoration: none;
    padding: 7px 10px;
    border: 2px solid #cddeff;
    border-radius: 10px;
    box-shadow: #cddeff 3px 3px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active{
  color: white;
  background-color: #20bad1;
}

.navbar-toggle{
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;
    box-shadow: #cddeff 3px 3px;
    border: 2px solid #cddeff;
}

.navbar-toggle:hover{
  background-color:#20bad1;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color:#cddeff;
    transition: all 0.3s ease-in-out;
}


@media only screen and (max-width: 880px){
    .navbar-container .navbar-menu{
      flex-direction: column;
      display: none;
      align-items: flex-start;
      gap: 1.7rem;
      position: absolute;
      height: fit-content;
      width: 200px;
      top: 0;
      right: 0;
      padding: 5rem 1.5rem;
      background-color:#2a4e9a;
    }
    .navbar-container .navbar-menu.active{
      display: flex;
    }
    .navbar-toggle{
      display: block;
      z-index: 100;
    }
    .navbar-toggle.active .bar:nth-child(2){
      opacity: 0;
    }
    .navbar-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media only screen and (max-width: 480px){
    .navbar-container{
        padding: 0 1rem;
    }
    .navbar-container .navbar-menu li a{
        font-size: 17px;
        padding: 3px 15px;
    }
}



/*header and intro*/
.over{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(../resources/images/brick\ wall\ tryout.png);
  background-size: contain;
  background-repeat: repeat;
  padding-top: 100px;
  padding-bottom: 100px;
}

.over .portraitimg img{
  height: 360px;
  width: auto;
  margin-right: 30px;
}

.over h1{
  text-align: center;
  font-size: 4rem;
}

.over #intro{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 30px;
}

.over p{
  max-width: 650px;
  padding-top: 40px;
  line-height: 1.7rem;
  font-weight: 500px;
  font-size: 18px;
  padding-right: 20px;
  padding-left: 20px;
}


@media only screen and (max-width: 480px){
  .over .portraitimg img{
    height: 230px;
    margin-right: 0px;
  }
  .over{
    padding-top: 50px;
  }
  .over h1{
    font-size: 2rem;
    padding-top: 15px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
   .over .portraitimg img{
    height: 300px;
    margin-right: 0px;
  }
  .over{
    padding-top: 60px;
  }
  .over p{
    font-size: 17px;
  }
  .over #intro{
    margin-left: 0px;
  }
}

/*hoe begonnen*/

.meerover{
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin: 0 auto;
    background-color:#e6f7fe;
}


.meerover .hoebegonnen{
    max-width: 500px;
    text-align: left;
    padding-bottom: 30px;
    margin-right: 50px;
}

.meerover .hoebegonnen h2{
    color:#2a4e9a;
    padding-bottom: 20px;
    padding-left: 10px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.meerover .hoebegonnen p{
    padding: 0px 10px;
    line-height: 1.7rem;
    color:rgb(77, 77, 77);
    font-size: 18px;
    font-weight: 500;
}

.meerover .kwaliteitencontainer{
  margin-left: 50px;
}

.meerover .kwaliteitencontainer .topbar{
  height: 30px;
  background-color:#20bad1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.meerover .kwaliteitencontainer .topbar i{
  color: white;
  font-size: 2.5rem;
}

.meerover .kwaliteitencontainer .bottombar{
  height:30px;
  background-color:#20bad1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
}

.meerover .kwaliteitencontainer .kwaliteiten{
    flex-direction: column;
    justify-content: space-between;
    width: 550px;
    padding-right: 10px;
    height: 450px;
    overflow:scroll;
    border: 3px solid black;
    background-color: whitesmoke;
}

.meerover .kwaliteitencontainer .kwaliteiten .kwaliteit{
    margin: 30px 5px;
    text-align: left;
    padding: 0px 20px;
    display: flex;
}

.meerover .kwaliteitencontainer .kwaliteiten .kwaliteit h2{
    color:#8b8bd8;
    padding-bottom: 4px;
    padding-left: 15px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.meerover .kwaliteitencontainer .kwaliteiten .kwaliteit p{
    padding-left:15px;
    line-height: 1.7rem;
    color:rgb(77, 77, 77);
    font-weight: 500;
    font-size: 17px;
}

.meerover .kwaliteitencontainer .kwaliteiten .kwaliteit i{
    font-size: 27px;
    display: inline;
    color:#8b8bd8;
}

@media only screen and (max-width: 480px){
  .meerover{
    padding-top: 80px;
  }
  .meerover .hoebegonnen h2{
    text-align: center;
    font-size: 25px;
  }
  .meerover .hoebegonnen p{
    padding-left: 30px;
    padding-right: 20px;
    font-size: 17px;
    padding-bottom: 20px;
  }
  .meerover .hoebegonnen{
    margin-right: 0px;
  }
  .meerover .kwaliteitencontainer{
    width: 100%;
    overflow: hidden;
    margin-left: 0px;
  }
  .meerover .kwaliteitencontainer .kwaliteiten{
    width: 100%;
    padding-right: 0px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
  .meerover{
    padding-top: 80px;
  }
  .meerover .hoebegonnen h2{
    text-align: center;
  }
  .meerover .hoebegonnen p{
    font-size: 18px;
  }
  .meerover .hoebegonnen{
    margin-right: 0px;
    max-width: 80%;
  }
  .meerover .kwaliteitencontainer{
    width: 90%;
    overflow: hidden;
    margin-left: 0px;
    margin-top: 50px;
  }
  .meerover .kwaliteitencontainer .kwaliteiten{
    width: 100%;
    padding-right: 0px;
  }
  .meerover .kwaliteitencontainer .kwaliteiten .kwaliteit h2{
    font-size: 18px;
  }
  .meerover .kwaliteitencontainer .kwaliteiten .kwaliteit p{
    font-size: 17px;
  }
  .meerover .kwaliteitencontainer .kwaliteiten .kwaliteit i{
    font-size: 27px;
    display: inline;
    color:#8b8bd8;
  }
}

/*Call to action*/
.leesmeer{
  display: flex;
  justify-content: center;
  padding-bottom: 130px;
  align-content: center;
  align-items: center;
  background-color:#e6f7fe;
}

.leesmeer .calltoaction{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color:#2a4e9a;
  border-radius: 20px;
  color: #e6f7fe;
  min-width: 55%;
  padding-top: 50px;
  min-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.leesmeer h1{
  padding-bottom: 40px;
}

@media only screen and (max-width: 480px){
  .leesmeer h1{
    font-size: 23px;
    padding-left: 23px;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
  .leesmeer h1{
    padding-left: 23px;
    padding-right: 10px;
  }
  .leesmeer .calltoaction{
    width: 80%;
  }
}

/*footer section*/


.footersection .contentrow{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 align-content: center;
 justify-content: space-around;
 background-color:#cddeff;
 padding: 60px 0px;
}


.footersection .contentrow .contentbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footersection .contentrow .contentbox img{
  height: 100px;
  width: auto;
}

.footersection .contentrow .contentbox h2{
  color:#494949
}

.footersection .contentrow .contentbox ul{
  list-style-type: none;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
}

.footersection .contentrow .contentbox a{
  text-decoration: none;
  color:#20bad1;
  font-weight: 600;
  transition: color 130ms ease-out 100ms;
}

.footersection .contentrow .contentbox a:hover{
  color: #7ba4fc;
  background-color: rgba(255, 255, 255, 0);
}


.footersection .contentrow .contentbox i{
  color: #20bad1;
  padding-right: 10px;
  font-size: 1.3rem;
}

.footersection .contentrow .contentbox .footercontact li{
  padding-top: 10px;
}

.footersection .contentrow .contentbox .footermenu li{
  padding-top: 5px;
}

.footersection .copyright{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#2a4e9a;
  color: white;
  padding: 15px 70px;
}

.footersection .copyright .madeby{
  display: flex;
}

.footersection .copyright .madeby i{
  padding-right: 10px;
}

.footersection .copyright a{
  text-decoration: underline;
  color:white;
  font-weight: 500;
  transition: color 130ms ease-out 100ms;
}

.footersection .copyright a:hover{
  color:#cddeff;
}

.footersection .copyright p{
  font-size: 16px;
}

@media only screen and (max-width: 480px){
 .footersection .contentrow{
  flex-direction: column;
 }
 .footersection .contentrow .contentbox{
  margin-top: 40px;
 }
 .footersection .contentrow .contentbox .footermenu{
  display: flex;
 }
 .footersection .contentrow .contentbox .footermenu li{
  margin-right: 20px;
 }
}

