*{
    padding: 0px;
    margin: 0px;
}

p{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

h2{
  font-size: 20px;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}

button{
  background-color:#e6f7fe;
  color: rgb(70, 70, 70);
  font-weight: 600;
  border-radius: 7px;
  font-size: 15px;
  padding: 15px 17px;
  box-shadow: rgb(0, 0, 0) 3px 3px;
  border: 2px solid black;
  transition: all 250ms ease-out 100ms;
}

button:hover{
  background-color: #cddeff;
  box-shadow: none;
  cursor: pointer;
}


/*header section*/
header {
  background-color: #e6f7fe;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0px
}

header img{
    height: 90px;
    width: auto;
    display: inline;
    padding-left: 90px;
}


header .contentbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .contentbox ul{
  list-style-type: none;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  padding-right: 90px;
}


header .contentbox i{
  color: #20bad1;
  padding-right: 10px;
  font-size: 1.5rem;
}

header .contentbox .headercontact li{
  padding-top: 10px;
}


@media only screen and (max-width: 600px){
 header .contentbox{
  margin-right:auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
 }
 header img{
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  height: auto;
 }
 header{
  flex-direction: column;
 }
 header .contentbox ul{
  padding-right: 0px;
 }
}

@media only screen and (max-width: 400px){
 header img{
  width: 70vw;
  height: auto;
 }
}


/*menubar*/

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
    position: sticky;
    top: 0;
    background-color: #2a4e9a;
    color:#cddeff;
    z-index: 100;
}

.navbar-container{
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
}

.navbar-container .navbar-menu{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style-type: none;
}


.navbar-container .navbar-menu li a{
    color: #e6f7fe;
    transition: all 200ms ease-out 100ms;
    text-decoration: none;
    padding: 7px 10px;
    border: 2px solid #cddeff;
    border-radius: 10px;
    box-shadow: #cddeff 3px 3px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active{
  color: white;
  background-color: #20bad1;
}

.navbar-toggle{
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;
    box-shadow: #cddeff 3px 3px;
    border: 2px solid #cddeff;
}

.navbar-toggle:hover{
  background-color:#20bad1;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color:#cddeff;
    transition: all 0.3s ease-in-out;
}


@media only screen and (max-width: 880px){
    .navbar-container .navbar-menu{
      flex-direction: column;
      display: none;
      align-items: flex-start;
      gap: 1.7rem;
      position: absolute;
      height: fit-content;
      width: 200px;
      top: 0;
      right: 0;
      padding: 5rem 1.5rem;
      background-color:#2a4e9a;
    }
    .navbar-container .navbar-menu.active{
      display: flex;
    }
    .navbar-toggle{
      display: block;
      z-index: 100;
    }
    .navbar-container{
      align-items: flex-end;
      justify-content: flex-end;
      padding-right: 50px;
    }
    .navbar-toggle.active .bar:nth-child(2){
      opacity: 0;
    }
    .navbar-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media only screen and (max-width: 480px){
    .navbar-container{
        padding: 0 1rem;
    }
    .navbar-container .navbar-menu li a{
        font-size: 17px;
        padding: 3px 15px;
    }
}



/*herosection*/

.herosection{
  background-color: #cddeff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 80px;
}

.herosection h1{
  font-size: 2.5rem;
  color: #2a4e9a;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-image: url(../resources/images/whitecloud.png);
  background-attachment: scroll;
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: floating;
  animation-duration: 7s;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    25%  { transform: translate(-10px, 5px); } 
    50% { transform: translate(0px, -5px); } 
    75% { transform: translate(5px, -10px); } 
    100% { transform: translate(0px, 0px); } 
}



/*Contact form section*/

.contact-container{
  background-color:#cddeff;
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-evenly;
}

.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h1{
  margin-bottom: 8px;
  color:#2a4e9a;
  font-size: 22px;
}

.contact-inputs{
  width: 400px;
  height: 50px;
  border: none;
  border-radius: 10px;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.contact-left textarea{
  height: 140px;
  padding-top: 15px;
}

.contact-inputs::placeholder{
  color:#a9a9a9;
}

.contact-left button {
  width: 150px;
  height: 50px;
  position: relative;
  background: none;
  box-shadow: none;
  outline: none;
  border: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.contact-left .top {
  width: 100%;
  height: 100%;
  background: #e6f7fe;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(36, 38, 34);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  outline: 2px solid rgb(36, 38, 34);
  transition: 0.2s;
  position: relative;
  overflow: hidden;
  z-index: 40
}

.contact-left .bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #c3dee9;
  top: 10px;
  left: 0;
  border-radius: 10px;
  outline: 2px solid rgb(36, 38, 34);
  z-index: 39;
}

.contact-left .bottom::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 9px;
  background: rgb(36, 38, 34);
  bottom: 0;
  left: 15%;
}

.contact-left .bottom::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 9px;
  background: rgb(36, 38, 34);
  bottom: 0;
  left: 85%;
}
      
.contact-left button:active .top {
  transform: translateY(10px);
}

.contact-left button::before {
  position: absolute;
  content: "";
  width: calc(100% + 2px);
  height: 100%;
  background: #20bad1;
  top: 14px;
  left: -1px;
  border-radius: 10px;
  outline: 2px solid rgb(36, 38, 34);
  z-index: 39;
}
    
.contact-left button:active .top::before {
  left: calc(100% + 20px);
}

.contact-left button i{
  font-size: 1.2rem;
  padding-left: 15px;
}

.contact-right{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

.contact-right .iconbox{
  text-align: center;
  margin: 30px 0px;
}

.contact-right .iconbox i{
  background-color:#e6f7fe;
  border-radius: 50%;
  padding: 15px 15px;
  box-shadow: rgb(0, 0, 0) 3px 3px;
  font-size: 1.3rem;
}

.contact-right .iconbox h2{
  padding-top: 40px;
}

@media only screen and (max-width: 800px){
  .contact-inputs{
    width: 80vw;
  }
  .contact-right{
    padding-top: 70px;
  }
}

/*Veelgestelde vragen*/

.faqsectie{
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    background-color:#e6f7fe;
}


.faqsectie .textcolumn{
    max-width: 500px;
    text-align: left;
    padding-bottom: 30px;
    margin-right: 20px;
}

.faqsectie .textcolumn h2{
    color:#7ba4fc;
    padding-bottom: 15px;
    padding-left: 10px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.faqsectie .faqcolumn{
  max-width: 900px;
}

.faqsectie .faqcolumn .topbar{
  height: 30px;
  background-color:#b3ccfc;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.faqsectie .faqcolumn .topbar i{
  color: white;
  font-size: 2.5rem;
}

.faqsectie .faqcolumn .bottombar{
  height:30px;
  background-color:#b3ccfc;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
}

.faqsectie .faqcolumn .vragen{
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
    max-height: 600px;
    overflow:scroll;
    border: 3px solid black;
    background-color: white;
}

@media only screen and (max-width: 1440px){
  .faqsectie .faqcolumn .vragen{
    max-height: 450px;
  }
}

.faqsectie .faqcolumn .vragen .vraag{
    margin: 40px 5px;
    text-align: left;
    padding: 0px 60px;
    display: flex;
}

.faqsectie .faqcolumn .vragen .vraag h2{
    color:cadetblue;
    padding-bottom: 4px;
    padding-left: 15px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.faqsectie .faqcolumn .vragen .vraag p{
    padding-left:15px;
    line-height: 1.7rem;
    color:rgb(77, 77, 77);
    font-weight: 500;
    font-size: 17px;
}

.faqsectie .faqcolumn .vragen .vraag i{
    font-size: 27px;
    display: inline;
    color:cadetblue;
}


@media only screen and (max-width: 480px){
  .faqsectie .faqcolumn .vragen .vraag{
    padding: 0px 15px;
  }
}


/*footer section*/


.footersection .contentrow{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 align-content: center;
 justify-content: space-around;
 background-color:#cddeff;
 padding: 60px 0px;
}


.footersection .contentrow .contentbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footersection .contentrow .contentbox img{
  height: 100px;
  width: auto;
}

.footersection .contentrow .contentbox h2{
  color:#494949
}

.footersection .contentrow .contentbox ul{
  list-style-type: none;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
}

.footersection .contentrow .contentbox a{
  text-decoration: none;
  color:#2a4e9a;
  font-weight: 600;
  transition: color 130ms ease-out 100ms;
}

.footersection .contentrow .contentbox a:hover{
  color: #20bad1;
  background-color: rgba(255, 255, 255, 0);
}


.footersection .contentrow .contentbox i{
  color: #20bad1;
  padding-right: 10px;
  font-size: 1.3rem;
}

.footersection .contentrow .contentbox .footercontact li{
  padding-top: 10px;
}

.footersection .contentrow .contentbox .footermenu li{
  padding-top: 5px;
}

.footersection .copyright{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#2a4e9a;
  color: white;
  padding: 15px 70px;
}

.footersection .copyright .madeby{
  display: flex;
}

.footersection .copyright .madeby i{
  padding-right: 10px;
}

.footersection .copyright a{
  text-decoration: underline;
  color:white;
  font-weight: 500;
  transition: color 130ms ease-out 100ms;
}

.footersection .copyright a:hover{
  color:#cddeff;
}

.footersection .copyright p{
  font-size: 16px;
}

@media only screen and (max-width: 480px){
 .footersection .contentrow{
  flex-direction: column;
 }
 .footersection .contentrow .contentbox{
  margin-top: 40px;
 }
 .footersection .contentrow .contentbox .footermenu{
  display: flex;
 }
 .footersection .contentrow .contentbox .footermenu li{
  margin-right: 20px;
 }
}

@media only screen and (max-width: 400px){
 footer img{
  width: 70vw;
  height: auto;
 }
}

@media only screen and (max-width: 600px){
  footer img{
    width: 50vh;
    height: auto;
  }
}
