*{
    padding: 0px;
    margin: 0px;
}

p{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

h2{
  font-size: 20px;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}

button{
  background-color:#e6f7fe;
  color: rgb(22, 22, 22);
  font-weight: 600;
  border-radius: 7px;
  font-size: 17px;
  padding: 20px 23px;
  box-shadow: rgb(0, 0, 0) 3px 3px;
  border: 3px solid black;
}


/*header section*/
header {
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header img{
    height: 200px;
    width: 200px;
    padding-left: 90px;
    display: inline;
}

header ul {
  margin: 20px auto;
  padding-right: 50px;
  text-align: center;
  display: inline-block;
}


header li{
  color: black;
  font-family: 'Urbanist', sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  width: 300px;
}

header i{
  color: #7ba4fc;
  font-size: 1.5rem;
}

/*menubar*/

.menubar {
  background-color: #20bad1;
  color: white;
  position: sticky;
  top: 0px;
  min-width: 100%;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.menubar ul{
  text-align: center;
  display: inline;
  width: 70%;
}

.menubar li{
  color: white;
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  padding: 20px 0px;
  width: 100px;
}

.menubar a{
    color: white;
    transition: color 200ms ease-out 100ms;
}

a:hover {
  color: black;
}

/*hero section*/

.portfoliohero{
    display: flex;
    flex-wrap: wrap;
    min-height: 600px;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #e6f7fe;
}

.portfoliohero h1{
  font-size: 4rem;
  margin-right: 50px;
}

.portfoliohero .websitecolumn{
  min-width: 350px;
  margin-left: 80px;
}

.portfoliohero .websitecolumn #topbar{
    height: 30px;
    background-color:#cfdcfc;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;
}

.portfoliohero .websitecolumn #bottombar{
  height: 30px;
  background-color:#cfdcfc;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  margin-top: -10px;
}


.portfoliohero .websitecolumn img{
  height: 180px;
  width: 330px;
  padding: 60px 10px;
  background-image: url(../resources/images/miniclouds.png);
  background-attachment: fixed;
  border: 3px solid black;
}

@media only screen and (max-width: 1440px){
  .portfoliohero{
    min-height: 500px;
  }
}

/*websites*/

.websites{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding-bottom: 100px;
  align-items: center;
}

.websitetitle h1{
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: #95bbbb;
  padding-top: 100px;
  padding-bottom: 30px;
}

.websites .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 450px;
  margin-right: 30px;
  overflow: hidden;
}

.websites p{
  max-width: 400px;
  text-align: center;
  font-weight: 500;
  line-height: 1.7rem;
  text-align: center;
  padding-top: 30px;
}

.websites img{
  height: 300px;
  width: auto;
}


@media only screen and (max-width: 1440px){
  .websites img{
    height: 230px;
    width: auto;
  }
  .websites .content{
    width: 350px;
  }
}

/*logos*/

.logos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-bottom: 80px;
}

.logos img{
  height: 350px;
  width: auto;
  margin: 0px 20px;
}


/*grafisch design*/
 .grafischdesign{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 }

 .grafischdesign img{
  height: 400px;
  width: auto;
  margin: 60px;
 }

@media only screen and (max-width: 1440px){
  .grafischdesign img{
    margin: 20px;
  }
}

/*visitekaartjes*/

.kaartje{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.kaartje img{
  height: 300px;
  width: auto;
  margin: 20px 20px;
}

/*review section*/

.reviewtitle{
  display: flex;
  justify-content: center;
  background-color:#cfdcfc;
  padding-top: 100px;
  padding-bottom: 50px;
}


.reviews{
  background-color:#cfdcfc;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 350px;
  align-content: center;
  padding-bottom: 80px;
}

.reviews .reviewbox{
  text-align: left;
  padding: 50px;
  background-color: white;
  max-height: 300px;
  max-width: 400px;
  margin: 0px 40px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.reviews .reviewbox img{
  height: 65px;
  width: auto;
  padding-bottom: 5px;
}


/*Tabs section*/

section{
  min-height: 800px;
  margin: auto;
  padding-top: 100px;
}

input[type="radio"]{
  display: none;
}

label{
  padding: 20px 45px;
  margin: 0px 10px;
  background-color:#e6f7fe;
  border: 3px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 19px;
}

.tabcontent{
  display: none;
  padding: 100px 0px;
  text-align: center;
}

.tabcontent h1{
  padding-bottom: 40px;
  font-size: 2.5rem;
  color:#7ba4fc;
}

input[type="radio"]:checked+label{
  background-color:#b3ccfc;
  color: white;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4{
  display: block;
}