*{
    padding: 0px;
    margin: 0px;
}

p{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

h2{
  font-size: 20px;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}

button{
  background-color:#cddeff;
  color: rgb(70, 70, 70);
  font-weight: 600;
  border-radius: 7px;
  font-size: 15px;
  padding: 15px 17px;
  box-shadow: rgb(0, 0, 0) 3px 3px;
  border: 2px solid black;
  transition: all 250ms ease-out 100ms;
}

button:hover{
  background-color: #20bad1;
  box-shadow: none;
  cursor: pointer;
}


/*header section*/
header {
  background-color: #e6f7fe;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0px;
}

header img{
    height: 110px;
    width: auto;
    padding-left: 90px;
    display: inline;
}

header ul {
  margin: 20px auto;
  padding-right: 50px;
  text-align: center;
  display: inline-block;
}


header li{
  color: black;
  font-family: 'Urbanist', sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  width: 250px;
}

header i{
  color: #7ba4fc;
  font-size: 1.5rem;
}

/*menubar*/

.menubar {
  background-color: #2a4e9a;
  color: white;
  position: sticky;
  top: 0px;
  min-width: 100%;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.menubar ul{
  text-align: center;
  display: inline;
  width: 70%;
}

.menubar li{
  color: white;
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  padding: 20px 0px;
  width: 100px;
}

.menubar a{
    color: white;
    transition: color 200ms ease-out 100ms;
}

a:hover {
  color: black;
}

/*hero section*/

.portfoliohero{
    display: flex;
    flex-wrap: wrap;
    min-height: 600px;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #e6f7fe;
}

.portfoliohero h1{
  font-size: 4rem;
  margin-right: 50px;
}

.portfoliohero .websitecolumn{
  min-width: 350px;
  margin-left: 80px;
}

.portfoliohero .websitecolumn #topbar{
    height: 30px;
    background-color:#20bad1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;
}

.portfoliohero .websitecolumn #bottombar{
  height: 30px;
  background-color:#20bad1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  margin-top: -10px;
}


.portfoliohero .websitecolumn img{
  height: 180px;
  width: 330px;
  padding: 60px 10px;
  background-image: url(../resources/images/miniclouds.png);
  background-attachment: fixed;
  border: 3px solid black;
}

@media only screen and (max-width: 1440px){
  .portfoliohero{
    min-height: 500px;
  }
}

@media only screen and (max-width: 480px){
  .portfoliohero h1{
    font-size: 3rem;
    margin-right: 0px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .portfoliohero .websitecolumn{
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 60px;
  }
}

/*websites*/

.websitesection{
  background-color:#cddeff;
  padding-top: 100px;
}

.websitesection .websites{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding-bottom: 120px;
  align-items: center;
}

.websitesection .title h1{
  text-align: center;
  font-size: 2.8rem;
  font-weight: 600;
  color: #2a4e9a;
  padding-bottom: 80px;
}

.websitesection .websites .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 450px;
  margin-right: 15px;
  margin-left: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #e6f7fe;
  padding: 50px 18px;
  border-radius: 20px;
}

.websitesection .websites .content .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.websitesection .websites p{
  max-width: 400px;
  text-align: center;
  font-weight: 500;
  line-height: 1.7rem;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.websitesection .websites img{
  height: 250px;
  width: auto;
}


@media only screen and (max-width: 1440px){
  .websitesection .websites img{
    height: 180px;
    width: auto;
  }
  .websitesection .websites .content{
    width: 350px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
  .websitesection .websites .content{
    width: 70%;
    margin-top: 40px;
    padding-bottom: 70px;
  }
  .websitesection .title h1{
    padding-bottom: 50px;
  }
  .websitesection .websites p{
    font-size: 22px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .websitesection .websites img{
    height: 260px;
  }
  .websitesection .websites button{
    padding: 18px 23px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 480px){
  .websitesection .websites .content{
    margin-top: 40px;
  }
  .websitesection .title h1{
    padding-bottom: 50px;
  }
}

/*logos*/

.logosection{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e6f7fe;
}

.logosection .title h1{
  text-align: center;
  font-size: 2.8rem;
  font-weight: 600;
  color: #2a4e9a;
  padding-bottom: 70px;
}

.logosection .logos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-bottom: 80px;
}

.logosection .logos img{
  height: 250px;
  width: auto;
  margin: 0px 20px;
}

@media only screen and (min-width: 481px) and (max-width: 768px){
  .logosection .logos img{
    height: 300px;
    margin-top: 30px;
  }
  .logosection{
    padding-bottom: 70px;
  }
}

@media only screen and (max-width: 480px){
  .logosection .logos img{
    margin-top: 30px;
    height: 310px;
  }
  .logosection{
    padding-bottom: 50px;
  }
  .logosection .title h1{
    padding-bottom: 50px;
  }
}

/*visitekaartjes*/

.kaartjessection{
  background-color:#cddeff;
  padding-top: 100px;
  padding-bottom: 130px;
}

.kaartjessection .title h1{
  text-align: center;
  font-size: 2.8rem;
  font-weight: 600;
  color: #2a4e9a;
  padding-bottom: 70px;
}


.kaartjessection .visitekaartjes .kaartje{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.kaartjessection .visitekaartjes .kaartje img{
  height: 250px;
  width: auto;
  margin: 20px 20px;
}

@media only screen and (min-width: 481px) and (max-width: 768px){
  .kaartjessection .visitekaartjes .kaartje img{
    height: 300px;
  }
}

@media only screen and (max-width: 480px){
  .kaartjessection .title h1{
    padding-bottom: 60px;
  }
}


/*illustraties*/

 .illustratiessection{
  background-color:#e6f7fe;
  padding-bottom: 130px;
  padding-top: 100px;
 }

 .illustratiessection .title h1{
  text-align: center;
  font-size: 2.8rem;
  font-weight: 600;
  color: #2a4e9a;
  padding-bottom: 70px;
 }

 .illustratiessection .illustraties{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
 }

 .illustratiessection .illustraties img{
  height: 350px;
  width: auto;
  margin: 60px;
 }

@media only screen and (max-width: 1440px){
  .illustratiessection .illustraties img{
    margin: 20px;
    height: 300px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
  .illustratiessection{
    padding-bottom: 80px;
  }
}

@media only screen and (max-width: 480px){
  .illustratiessection{
    padding-bottom: 80px;
  }
}


/*review section*/

.reviewtitle{
  display: flex;
  justify-content: center;
  background-color:#cddeff;
  padding-top: 100px;
  padding-bottom: 50px;
}


.reviews{
  background-color:#cddeff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 130px;
  align-content: center;
}

.reviews .reviewbox{
  text-align: left;
  padding: 50px;
  background-color: white;
  max-height: 300px;
  max-width: 400px;
  margin: 0px 40px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.reviews .reviewbox img{
  height: 65px;
  width: auto;
  padding-bottom: 5px;
}

@media only screen and (min-width: 481px) and (max-width: 768px){
  .reviews .reviewbox{
    margin-top: 40px;
    max-height: 400px;
  }
  .reviews .reviewbox p{
    font-size: 20px;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 480px){
  .reviews .reviewbox{
    margin-top: 40px;
    max-height: 320px;
  }
  .reviews .reviewbox img{
    height: 60px;
  }
  .reviews .reviewbox p{
    padding-top: 10px;
  }
}

/*footer section*/


.footersection .contentrow{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 align-content: center;
 justify-content: space-around;
 background-color:#e6f7fe;
 padding: 60px 0px;
}


.footersection .contentrow .contentbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footersection .contentrow .contentbox ul{
  list-style-type: none;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
}

.footersection .contentrow .contentbox a{
  text-decoration: none;
  color:#323232;
  font-weight: 500;
  transition: color 130ms ease-out 100ms;
}

.footersection .contentrow .contentbox a:hover{
  color: #20bad1;
}


.footersection .contentrow .contentbox i{
  color: #20bad1;
  padding-right: 10px;
  font-size: 1.3rem;
}

.footersection .contentrow .contentbox .footercontact li{
  padding-top: 10px;
}

.footersection .contentrow .contentbox .footermenu li{
  padding-top: 5px;
}

.footersection .copyright{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#2a4e9a;
  color: white;
  padding: 15px 70px;
}

.footersection .copyright .madeby{
  display: flex;
}

.footersection .copyright .madeby i{
  padding-right: 10px;
}

.footersection .copyright a{
  text-decoration: underline;
  color:white;
  font-weight: 500;
  transition: color 130ms ease-out 100ms;
}

.footersection .copyright a:hover{
  color:#cddeff;
}

.footersection .copyright p{
  font-size: 16px;
}

