*{
    padding: 0px;
    margin: 0px;
}

p{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

h2{
  font-size: 20px;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}

button{
  background-color:#cddeff;
  color: rgb(70, 70, 70);
  font-weight: 600;
  border-radius: 7px;
  font-size: 15px;
  padding: 15px 17px;
  box-shadow: rgb(0, 0, 0) 3px 3px;
  border: 2px solid black;
  transition: all 250ms ease-out 100ms;
}

button:hover{
  background-color: #20bad1;
  color:#e6f7fe;
  box-shadow: none;
  cursor: pointer;
}


/*header section*/
header {
  background-color: #e6f7fe;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0px
}

header img{
    height: 90px;
    width: auto;
    display: inline;
    padding-left: 90px;
}


header .contentbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .contentbox ul{
  list-style-type: none;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  padding-right: 90px;
}


header .contentbox i{
  color: #20bad1;
  padding-right: 10px;
  font-size: 1.5rem;
}

header .contentbox .headercontact li{
  padding-top: 10px;
}


@media only screen and (max-width: 600px){
 header .contentbox{
  margin-right:auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
 }
 header img{
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  height: auto;
 }
 header{
  flex-direction: column;
 }
 header .contentbox ul{
  padding-right: 0px;
 }
}

@media only screen and (max-width: 400px){
 header img{
  width: 70vw;
  height: auto;
 }
}


/*menubar*/

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
    position: sticky;
    top: 0;
    background-color: #2a4e9a;
    color:#cddeff;
    z-index: 100;
}

.navbar-container{
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
}

.navbar-container .navbar-menu{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style-type: none;
}


.navbar-container .navbar-menu li a{
    color: #e6f7fe;
    transition: all 200ms ease-out 100ms;
    text-decoration: none;
    padding: 7px 10px;
    border: 2px solid #cddeff;
    border-radius: 10px;
    box-shadow: #cddeff 3px 3px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active{
  color: white;
  background-color: #20bad1;
}

.navbar-toggle{
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;
    box-shadow: #cddeff 3px 3px;
    border: 2px solid #cddeff;
}

.navbar-toggle:hover{
  background-color:#20bad1;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color:#cddeff;
    transition: all 0.3s ease-in-out;
}


@media only screen and (max-width: 880px){
    .navbar-container .navbar-menu{
      flex-direction: column;
      display: none;
      align-items: flex-start;
      gap: 1.7rem;
      position: absolute;
      height: fit-content;
      width: 200px;
      top: 0;
      right: 0;
      padding: 5rem 1.5rem;
      background-color:#2a4e9a;
    }
    .navbar-container .navbar-menu.active{
      display: flex;
    }
    .navbar-container{
      align-items: flex-end;
      justify-content: flex-end;
      padding-right: 50px;
    }
    .navbar-toggle{
      display: block;
      z-index: 100;
    }
    .navbar-toggle.active .bar:nth-child(2){
      opacity: 0;
    }
    .navbar-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media only screen and (max-width: 480px){
    .navbar-container{
        padding: 0 1rem;
    }
    .navbar-container .navbar-menu li a{
        font-size: 17px;
        padding: 3px 15px;
    }
}



/*hero section*/

.portfoliohero{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #e6f7fe;
    padding-top: 100px;
    padding-bottom: 100px;
}

.portfoliohero h1{
  font-size: 3rem;
  margin-right: 50px;
  text-align: center;
  color:#20bad1;
}

.portfoliohero .illustrationcolumn img{
  height: 300px;
  width: auto;
}


@media only screen and (max-width: 800px){
  .portfoliohero h1{
    margin-right: 0px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .portfoliohero{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .portfoliohero .illustrationcolumn img{
    height: 240px;
  }
}

@media only screen and (max-width: 450px){
  .portfoliohero .illustrationcolumn img{
    height: 200px;
  }
}



/*websites*/

.websitesection{
  background-color:#cddeff;
  padding-top: 100px;
}

.websitesection .websites{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding-bottom: 120px;
  align-items: center;
}

.websitesection .title h1{
  text-align: center;
  font-size: 2.8rem;
  font-weight: 600;
  color: #2a4e9a;
  padding-bottom: 50px;
}

.websitesection .websites .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 450px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 40px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #e6f7fe;
  padding: 50px 18px;
  border-radius: 20px;
}

.websitesection .websites .content .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.websitesection .websites p{
  max-width: 400px;
  text-align: center;
  font-weight: 500;
  line-height: 1.7rem;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 17px;
}

.websitesection .websites img{
  height: 180px;
  width: auto;
}

.websitesection button {
  width: 150px;
  height: 50px;
  position: relative;
  background: none;
  outline: none;
  border: none;
  box-shadow:none;
  padding: 0px;
  margin: 0;
  cursor: pointer;
}

.websitesection .top {
  width: 100%;
  height: 100%;
  background: #cddeff;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(36, 38, 34);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  outline: 2px solid rgb(36, 38, 34);
  transition: 0.2s;
  position: relative;
  overflow: hidden;
  z-index: 40
}

.websitesection .bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #b2c7f0;
  top: 10px;
  left: 0;
  border-radius: 10px;
  outline: 2px solid rgb(36, 38, 34);
  z-index: 39;
}

.websitesection .bottom::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 9px;
  background: rgb(36, 38, 34);
  bottom: 0;
  left: 15%;
}

.websitesection .bottom::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 9px;
  background: rgb(36, 38, 34);
  bottom: 0;
  left: 85%;
}
      
.websitesection button:active .top {
  transform: translateY(10px);
}

.websitesection .top:hover{
  transform: translateY(3px);
}

.websitesection button::before {
  position: absolute;
  content: "";
  width: calc(100% + 2px);
  height: 100%;
  background: #20bad1;
  top: 14px;
  left: -1px;
  border-radius: 10px;
  outline: 2px solid rgb(36, 38, 34);
  z-index: 39;
}
    
.websitesection button:active .top::before {
  left: calc(100% + 20px);
}


@media only screen and (max-width: 1440px){
  .websitesection .websites .content{
    width: 350px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
  .websitesection .websites .content{
    width: 70%;
    padding-bottom: 70px;
  }
  .websitesection .title h1{
    padding-bottom: 50px;
    font-size: 2.2rem;
  }
  .websitesection .websites p{
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 480px){
  .websitesection .title h1{
    padding-bottom: 50px;
    font-size: 2.2rem;
  }
  .websitesection .websites p{
    padding-left: 10px;
    padding-right: 10px;
  }
  .websitesection .websites img{
    height: 150px;
  }
}


/*logos*/

.logosection{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e6f7fe;
}

.logosection .title h1{
  text-align: center;
  font-size: 2.8rem;
  font-weight: 600;
  color: #2a4e9a;
  padding-bottom: 70px;
}

.logosection .logos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-bottom: 80px;
}

.logosection .logos img{
  height: 250px;
  width: auto;
  margin: 0px 20px;
}


@media only screen and (min-width: 481px) and (max-width: 768px){
  .logosection .logos img{
    height: 300px;
    margin-top: 30px;
  }
  .logosection{
    padding-bottom: 70px;
  }
  .logosection .title h1{
    padding-bottom: 25px;
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 480px){
  .logosection .logos img{
    margin-top: 30px;
    height: 220px;
  }
  .logosection{
    padding-bottom: 50px;
  }
  .logosection .title h1{
    padding-bottom: 25px;
    font-size: 2.2rem;
  }
}

/*visitekaartjes*/

.kaartjessection{
  background-color:#cddeff;
  padding-top: 100px;
  padding-bottom: 130px;
}

.kaartjessection .title h1{
  text-align: center;
  font-size: 2.8rem;
  font-weight: 600;
  color: #2a4e9a;
  padding-bottom: 70px;
}


.kaartjessection .visitekaartjes .kaartje{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.kaartjessection .visitekaartjes .kaartje img{
  height: 250px;
  width: auto;
  margin: 20px 20px;
}


@media only screen and (max-width: 800px){
  .kaartjessection .title h1{
    padding-bottom: 60px;
    font-size: 2.2rem;
  }
   .kaartjessection .visitekaartjes .kaartje img{
    width: 90vw;
    height: auto;
  }
}


/*illustraties*/

 .illustratiessection{
  background-color:#e6f7fe;
  padding-bottom: 130px;
  padding-top: 100px;
 }

 .illustratiessection .title h1{
  text-align: center;
  font-size: 2.8rem;
  font-weight: 600;
  color: #2a4e9a;
  padding-bottom: 70px;
 }

 .illustratiessection .illustraties{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
 }

 .illustratiessection .illustraties img{
  height: 300px;
  width: auto;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
 }


@media only screen and (max-width: 800px){
  .illustratiessection{
    padding-bottom: 80px;
  }
  .illustratiessection .illustraties img{
    height: auto;
    width: 80%;
  }
  .illustratiessection .title h1{
    font-size: 2.2rem;
  }
}



/*review section*/

.reviewtitle{
  display: flex;
  justify-content: center;
  background-color:#cddeff;
  padding-top: 100px;
  padding-bottom: 30px;
}


.reviews{
  background-color:#cddeff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 130px;
  align-content: center;
}

.reviews .reviewbox{
  text-align: left;
  padding: 50px;
  background-color: white;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  max-width: 350px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.reviews .reviewbox p{
  font-size: 17px;
  font-weight: 500;
  line-height: 1.7rem;
  padding-top: 15px;
}

.reviews .reviewbox img{
  height: 60px;
  width: auto;
  padding-bottom: 5px;
}


@media only screen and (max-width: 480px){
  .reviews .reviewbox{
    margin-right: 5px;
    margin-left: 5px;
  }
}

/*footer section*/


.footersection .contentrow{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 align-content: center;
 justify-content: space-around;
 background-color:#e6f7fe;
 padding: 60px 0px;
}


.footersection .contentrow .contentbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footersection .contentrow .contentbox img{
  height: 100px;
  width: auto;
}

.footersection .contentrow .contentbox h2{
  color:#494949
}

.footersection .contentrow .contentbox ul{
  list-style-type: none;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
}

.footersection .contentrow .contentbox a{
  text-decoration: none;
  color:#2a4e9a;
  font-weight: 600;
  transition: color 130ms ease-out 100ms;
}

.footersection .contentrow .contentbox a:hover{
  color: #20bad1;
  background-color: rgba(255, 255, 255, 0);
}


.footersection .contentrow .contentbox i{
  color: #20bad1;
  padding-right: 10px;
  font-size: 1.3rem;
}

.footersection .contentrow .contentbox .footercontact li{
  padding-top: 10px;
}

.footersection .contentrow .contentbox .footermenu li{
  padding-top: 5px;
}

.footersection .copyright{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#2a4e9a;
  color: white;
  padding: 15px 70px;
}

.footersection .copyright .madeby{
  display: flex;
}

.footersection .copyright .madeby i{
  padding-right: 10px;
}

.footersection .copyright a{
  text-decoration: underline;
  color:white;
  font-weight: 500;
  transition: color 130ms ease-out 100ms;
}

.footersection .copyright a:hover{
  color:#cddeff;
}

.footersection .copyright p{
  font-size: 16px;
}

@media only screen and (max-width: 480px){
 .footersection .contentrow{
  flex-direction: column;
 }
 .footersection .contentrow .contentbox{
  margin-top: 40px;
 }
 .footersection .contentrow .contentbox .footermenu{
  display: flex;
 }
 .footersection .contentrow .contentbox .footermenu li{
  margin-right: 20px;
 }
}

@media only screen and (max-width: 400px){
 footer img{
  width: 70vw;
  height: auto;
 }
}

@media only screen and (max-width: 600px){
  footer img{
    width: 50vh;
    height: auto;
  }
}
