*{
    padding: 0px;
    margin: 0px;
}

p{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 500;
}

h1{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

h2{
  font-size: 20px;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}

body{
    background-color:#e6f7fe;
}


button{
  background-color:#e6f7fe;
  color: rgb(70, 70, 70);
  font-weight: 600;
  border-radius: 7px;
  font-size: 15px;
  padding: 15px 17px;
  box-shadow: rgb(0, 0, 0) 3px 3px;
  border: 2px solid black;
  transition: all 250ms ease-out 100ms;
}

button:hover{
  background-color: #cddeff;
  box-shadow: none;
  cursor: pointer;
}


/*header section*/
header {
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0px;
}

header img{
    height: 110px;
    width: auto;
    padding-left: 90px;
    display: inline;
}

header ul {
  margin: 20px auto;
  padding-right: 50px;
  text-align: center;
  display: inline-block;
}


header li{
  color: black;
  font-family: 'Urbanist', sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  width: 250px;
}

header i{
  color: #7ba4fc;
  font-size: 1.5rem;
}

/*menubar*/

.menubar {
  background-color: #2a4e9a;
  color: white;
  position: sticky;
  top: 0px;
  min-width: 100%;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.menubar ul{
  text-align: center;
  display: inline;
  width: 70%;
}

.menubar li{
  color: white;
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  padding: 20px 0px;
  width: 100px;
}

.menubar a{
    color: white;
    transition: color 200ms ease-out 100ms;
}

a:hover {
  color: black;
}

/*privacypolicy*/

.privacypolicy{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.privacypolicy p{
    padding: 20px 0px;
    line-height: 1.7rem;
}


/*footer section*/


.footersection .contentrow{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 align-content: center;
 justify-content: space-around;
 background-color:#cddeff;
 padding: 60px 0px;
}


.footersection .contentrow .contentbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footersection .contentrow .contentbox ul{
  list-style-type: none;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
}

.footersection .contentrow .contentbox a{
  text-decoration: none;
  color:#323232;
  font-weight: 500;
  transition: color 130ms ease-out 100ms;
}

.footersection .contentrow .contentbox a:hover{
  color: #20bad1;
}


.footersection .contentrow .contentbox i{
  color: #20bad1;
  padding-right: 10px;
  font-size: 1.3rem;
}

.footersection .contentrow .contentbox .footercontact li{
  padding-top: 10px;
}

.footersection .contentrow .contentbox .footermenu li{
  padding-top: 5px;
}

.footersection .copyright{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#2a4e9a;
  color: white;
  padding: 15px 70px;
}

.footersection .copyright .madeby{
  display: flex;
}

.footersection .copyright .madeby i{
  padding-right: 10px;
}

.footersection .copyright a{
  text-decoration: underline;
  color:white;
  font-weight: 500;
  transition: color 130ms ease-out 100ms;
}

.footersection .copyright a:hover{
  color:#cddeff;
}

.footersection .copyright p{
  font-size: 16px;
}