*{
    padding: 0px;
    margin: 0px;
}

p{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 500;
}

h1{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

h2{
  font-size: 20px;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}

body{
    background-color:#e6f7fe;
}


button{
  background-color:#e6f7fe;
  color: rgb(70, 70, 70);
  font-weight: 600;
  border-radius: 7px;
  font-size: 15px;
  padding: 15px 17px;
  box-shadow: rgb(0, 0, 0) 3px 3px;
  border: 2px solid black;
  transition: all 250ms ease-out 100ms;
}

button:hover{
  background-color: #cddeff;
  box-shadow: none;
  cursor: pointer;
}


/*header section*/
header {
  background-color: #e6f7fe;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0px
}

header img{
    height: 120px;
    width: auto;
    display: inline;
    padding-left: 90px;
}


header .contentbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .contentbox ul{
  list-style-type: none;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  padding-right: 90px;
}


header .contentbox i{
  color: #20bad1;
  padding-right: 10px;
  font-size: 1.5rem;
}

header .contentbox .headercontact li{
  padding-top: 10px;
}

@media only screen and (max-width: 600px){
 header .contentbox{
  margin-right:auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
 }
 header img{
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
  height: 110px;
 }
 header{
  flex-direction: column;
 }
 header .contentbox ul{
  padding-right: 0px;
 }
}


/*menubar*/

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
    position: sticky;
    top: 0;
    background-color: #2a4e9a;
    color:#cddeff;
    z-index: 100;
}

.navbar-container{
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
}

.navbar-container .navbar-menu{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style-type: none;
}


.navbar-container .navbar-menu li a{
    color: #e6f7fe;
    transition: all 200ms ease-out 100ms;
    text-decoration: none;
    padding: 7px 10px;
    border: 2px solid #cddeff;
    border-radius: 10px;
    box-shadow: #cddeff 3px 3px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active{
  color: white;
  background-color: #20bad1;
}

.navbar-toggle{
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;
    box-shadow: #cddeff 3px 3px;
    border: 2px solid #cddeff;
}

.navbar-toggle:hover{
  background-color:#20bad1;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color:#cddeff;
    transition: all 0.3s ease-in-out;
}


@media only screen and (max-width: 880px){
    .navbar-container .navbar-menu{
      flex-direction: column;
      display: none;
      align-items: flex-start;
      gap: 1.7rem;
      position: absolute;
      height: fit-content;
      width: 200px;
      top: 0;
      right: 0;
      padding: 5rem 1.5rem;
      background-color:#2a4e9a;
    }
    .navbar-container .navbar-menu.active{
      display: flex;
    }
    .navbar-toggle{
      display: block;
      z-index: 100;
    }
    .navbar-toggle.active .bar:nth-child(2){
      opacity: 0;
    }
    .navbar-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media only screen and (max-width: 480px){
    .navbar-container{
        padding: 0 1rem;
    }
    .navbar-container .navbar-menu li a{
        font-size: 17px;
        padding: 3px 15px;
    }
}


/*privacypolicy*/

.privacypolicy{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.privacypolicy p{
    padding: 20px 0px;
    line-height: 1.7rem;
}


/*footer section*/


.footersection .contentrow{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 align-content: center;
 justify-content: space-around;
 background-color:#cddeff;
 padding: 60px 0px;
}


.footersection .contentrow .contentbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footersection .contentrow .contentbox img{
  height: 120px;
  width: auto;
}

.footersection .contentrow .contentbox h2{
  color:#494949
}

.footersection .contentrow .contentbox ul{
  list-style-type: none;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
}

.footersection .contentrow .contentbox a{
  text-decoration: none;
  color:#2a4e9a;
  font-weight: 600;
  transition: color 130ms ease-out 100ms;
}

.footersection .contentrow .contentbox a:hover{
  color: #20bad1;
  background-color: rgba(255, 255, 255, 0);
}


.footersection .contentrow .contentbox i{
  color: #20bad1;
  padding-right: 10px;
  font-size: 1.3rem;
}

.footersection .contentrow .contentbox .footercontact li{
  padding-top: 10px;
}

.footersection .contentrow .contentbox .footermenu li{
  padding-top: 5px;
}

.footersection .copyright{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#2a4e9a;
  color: white;
  padding: 15px 70px;
}

.footersection .copyright .madeby{
  display: flex;
}

.footersection .copyright .madeby i{
  padding-right: 10px;
}

.footersection .copyright a{
  text-decoration: underline;
  color:white;
  font-weight: 500;
  transition: color 130ms ease-out 100ms;
}

.footersection .copyright a:hover{
  color:#cddeff;
}

.footersection .copyright p{
  font-size: 16px;
}

@media only screen and (max-width: 480px){
 .footersection .contentrow{
  flex-direction: column;
 }
 .footersection .contentrow .contentbox{
  margin-top: 40px;
 }
 .footersection .contentrow .contentbox .footermenu{
  display: flex;
 }
 .footersection .contentrow .contentbox .footermenu li{
  margin-right: 20px;
 }
}