*{
    padding: 0px;
    margin: 0px;
}

p{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

h2{
  font-size: 20px;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}

button{
  background-color:#e6f7fe;
  color: rgb(22, 22, 22);
  font-weight: 600;
  border-radius: 7px;
  font-size: 17px;
  padding: 20px 23px;
  box-shadow: rgb(0, 0, 0) 3px 3px;
  border: 3px solid black;
}


/*header section*/
header {
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header img{
    height: 200px;
    width: 200px;
    padding-left: 90px;
    display: inline;
}

header ul {
  margin: 20px auto;
  padding-right: 50px;
  text-align: center;
  display: inline-block;
}


header li{
  color: black;
  font-family: 'Urbanist', sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  width: 300px;
}

header i{
  color: #7ba4fc;
  font-size: 1.5rem;
}

/*menubar*/

.menubar {
  background-color: #2a4e9a;
  color: white;
  position: sticky;
  top: 0px;
  min-width: 100%;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.menubar ul{
  text-align: center;
  display: inline;
  width: 70%;
}

.menubar li{
  color: white;
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  padding: 20px 0px;
  width: 100px;
}

.menubar a{
    color: white;
    transition: color 200ms ease-out 100ms;
}

a:hover {
  color: black;
}

/*herosection*/

.herosection{
  min-height: 750px;
  background-image: url(../resources/images/brick\ wall\ tryout.png);
  background-size: contain;
  background-repeat: repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
}

.herosection #computerscreen{
  border: 20px solid black;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  min-height: 600px;
  min-width: 60%;
  justify-content: center;
  align-content: center;
  background-color: #cfdcfc;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media only screen and (max-width: 1440px){
  .herosection{
    min-height: 600px;
  }
  .herosection #computerscreen{
    min-height: 450px;
  }
  .herosection #computerscreen #titlebox h1{
    padding-right: 30px;
    padding-left: 30px;
  }
}

.herosection #computerscreen #titlebox{
  align-content: center;
  width: 500px;
}

.herosection #computerscreen #titlebox h1{
  text-align: center;
  font-size: 2.5em;
  padding-right: 20px;
  padding-left: 30px;
}

.herosection #computerscreen #titlebox p{
  max-width: 650px;
  font-weight: 500;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 30px;
  font-size: 18px;
  line-height: 1.7rem;
}


.herosection #computerscreen #imagebox img{
  height: 500px;
  width: auto;
  margin-left: -70px;
  margin-top: -30px;
}

#stand{
  display:flex;
  align-content: flex-start;
  justify-content: center;
  background-color:#e6f7fe;
}

#stand img{
    max-width: 800px;
    height: auto;
}

/*keyboard*/

.keyboardsection{
  padding-bottom: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-color:#e6f7fe;
}

.keyboardsection .keyboard{
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1180px;
  justify-content: center;
  align-content: center;
}

.keyboardsection .keyboard .upperrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.keyboardsection .keyboard .bottomrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.keyboardsection .keyboard .item{
    width: 300px;
    height: 150px;
    margin: 20px;
    background-color: #b8ddff;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: rgb(0, 0, 0) 3px 3px;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    padding-top: 6px;
}


.keyboardsection .keyboard h2{
    font-size: 17px;
    padding-top: 10px;
}

.keyboardsection .keyboard p{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7rem;
    padding: 5px 3px;
}

.keyboardsection .keyboard i{
    font-size: 22px;
}

@media only screen and (max-width: 1440px){
    .keyboardsection .keyboard{
        max-width: 1100px;
    }
    #stand img{
        width: 700px;
        height: auto;
    }
}

/* webdesign services*/

.webtitle h1{
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding-top: 100px;
  padding-bottom: 50px;
  color:black;
  background-color:#d6e1fc;
}

.webservices{
    display: flex;
    flex-wrap: wrap;
    min-height: 700px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 100px;
    background-color:#d6e1fc;
}

.webservices .iconbox{
    background-color: white;
    border-radius: 20px;
    min-width: 450px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 30px;
    align-content: center;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(134, 134, 134, 0.2), 0 5px 14px 0 rgba(138, 138, 138, 0.19);
    transition: background-color 200ms ease-out 100ms;
}

.webservices .iconbox h2{
  padding: 20px 0px;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.webservices #completewebsite:hover{
  background-color: #e6f7fe;
}

.webservices #onepager:hover{
  background-color: #e6f7fe;
}

.webservices #onderhoud:hover{
  background-color: #e6f7fe;
}

.webservices .iconbox i{
  font-size: 3rem;
  text-align: center;
}

.webservices .iconbox p{
  max-width: 300px;
  color: rgb(73, 73, 73);
  font-size: 17px;
  font-weight: 500;
  line-height: 1.7rem;
}

@media only screen and (max-width: 1440px){
  .webservices .iconbox{
    min-width: 350px;
    min-height: 400px;
    margin: 15px;
  }

  .webservices .iconbox p{
    max-width: 270px;
  }
  .webservices{
    justify-content: center;
    min-height: 600px;
  }
}

/*Overige services*/

.overigeservices{
  display: flex;
  flex-wrap: wrap;
  min-height: 600px;
  background-color:#e6f7fe;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 70px;
}

.overigeservices .illustratie h1{
  color: black;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 80px;
}

.overigeservices .illustratie img{
  height: 500px;
  width: auto;
}

.overigeservices .servicescolumn{
  max-width: 600px;
}

.overigeservices .servicescolumn .servicesboxes{
  flex-direction: column;
}

.overigeservices .servicescolumn .servicesboxes .service{
  display: flex;
  background-color: white;
  border-radius: 20px;
  margin: 50px 20px;
  padding: 50px 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.overigeservices .servicescolumn .servicesboxes .service i{
  font-size: 3rem;
  color: #20bad1;
}

.overigeservices .servicescolumn .servicesboxes .service h2{
  color: #20bad1;
  padding-left: 15px;
}

.overigeservices .servicescolumn .servicesboxes .service p{
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7rem;
  color:#636363;
  padding-left: 15px;
}

/*Hoe ga ik te werk*/

.hoetewerk{
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #cddeff;
}

.hoetewerk .row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0px 80px;
}

.hoetewerk .row .stepcolumn{
  display: flex;
  width: 50%;
  margin: 50px 0px;
}

.hoetewerk .row .stepcolumn h1{
  font-size: 5rem;
  color:#2a4e9a;
  font-family: 'Londrina Shadow';
}

.hoetewerk .row .stepcolumn h2{
  padding-left: 30px;
  color:#2a4e9a;
}

.hoetewerk .row .stepcolumn p{
  font-size: 17px;
  line-height: 1.7rem;
  color:#494b63;
  font-weight: 500;
  padding-left: 30px;
}

.hoetewerk .row .iconcolumn img{
  height: 400px;
  width: auto;
}


.hoetewerk .launchrow{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0px 70px;
}

.hoetewerk .launchrow .stepcolumn{
  width: 60%;
  display: flex;
  margin: 50px 0px;
}

.hoetewerk .launchrow .stepcolumn h1{
  font-size: 3.5rem;
  color:#2a4e9a;
  font-family: 'Londrina Shadow';
}

.hoetewerk .launchrow .stepcolumn p{
  font-size: 17px;
  line-height: 1.7rem;
  color:#2a4e9a;
  font-weight: 500;
  padding-left: 30px;
}

.hoetewerk .launchrow .stepcolumn h2{
  padding-left: 30px;
  color:#20bad1;
}

.hoetewerk .launchrow .iconcolumn img{
  height: 200px;
  width: auto;
  margin-top: -100px;
}

.imagesection{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cddeff;
}

.imagesection img{
  height: 500px;
  width: auto;
  margin-left: -450px;
  margin-top: -200px;
  margin-bottom: -160px;
}


/*FAQ*/

.faqsectie{
    padding-top: 150px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    background-color:#e6f7fe;
}


.faqsectie .textcolumn{
    max-width: 500px;
    text-align: left;
    padding-bottom: 30px;
    margin-right: 20px;
}

.faqsectie .textcolumn h2{
    color:rgb(60, 60, 60);
    padding-bottom: 15px;
    padding-left: 10px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.faqsectie .faqcolumn{
  max-width: 900px;
}

.faqsectie .faqcolumn .topbar{
  height: 30px;
  background-color:#b3ccfc;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.faqsectie .faqcolumn .topbar i{
  color: white;
  font-size: 2.5rem;
}

.faqsectie .faqcolumn .bottombar{
  height:30px;
  background-color:#b3ccfc;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
}

.faqsectie .faqcolumn .vragen{
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
    max-height: 600px;
    overflow:scroll;
    border: 3px solid black;
    background-color: white;
}

@media only screen and (max-width: 1440px){
  .faqsectie .faqcolumn .vragen{
    max-height: 450px;
  }
}

.faqsectie .faqcolumn .vragen .vraag{
    margin: 40px 5px;
    text-align: left;
    padding: 0px 60px;
    display: flex;
}

.faqsectie .faqcolumn .vragen .vraag h2{
    color:cadetblue;
    padding-bottom: 4px;
    padding-left: 15px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.faqsectie .faqcolumn .vragen .vraag p{
    padding-left:15px;
    line-height: 1.7rem;
    color:rgb(77, 77, 77);
    font-weight: 500;
    font-size: 17px;
}

.faqsectie .faqcolumn .vragen .vraag i{
    font-size: 27px;
    display: inline;
    color:cadetblue;
}


