*{
    padding: 0px;
    margin: 0px;
}

p{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

h2{
  font-size: 20px;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}

button{
  background-color:#e6f7fe;
  color: rgb(70, 70, 70);
  font-weight: 600;
  border-radius: 7px;
  font-size: 18px;
  padding: 20px 27px;
  box-shadow: rgb(0, 0, 0) 3px 3px;
  border: 2px solid black;
  transition: all 250ms ease-out 100ms;
}

button:hover{
  background-color: #cddeff;
  box-shadow: none;
  cursor: pointer;
}


/*header section*/
header {
  background-color: #e6f7fe;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0px
}

header img{
    height: 120px;
    width: auto;
    display: inline;
    padding-left: 90px;
}


header .contentbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .contentbox ul{
  list-style-type: none;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  padding-right: 90px;
}


header .contentbox i{
  color: #20bad1;
  padding-right: 10px;
  font-size: 1.5rem;
}

header .contentbox .headercontact li{
  padding-top: 10px;
}

@media only screen and (max-width: 600px){
 header .contentbox{
  margin-right:auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
 }
 header img{
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
  height: 110px;
 }
 header{
  flex-direction: column;
 }
 header .contentbox ul{
  padding-right: 0px;
 }
}


/*menubar*/

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
    position: sticky;
    top: 0;
    background-color: #2a4e9a;
    color:#cddeff;
    z-index: 100;
}

.navbar-container{
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
}

.navbar-container .navbar-menu{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style-type: none;
}


.navbar-container .navbar-menu li a{
    color: #e6f7fe;
    transition: all 200ms ease-out 100ms;
    text-decoration: none;
    padding: 7px 10px;
    border: 2px solid #cddeff;
    border-radius: 10px;
    box-shadow: #cddeff 3px 3px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active{
  color: white;
  background-color: #20bad1;
}

.navbar-toggle{
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;
    box-shadow: #cddeff 3px 3px;
    border: 2px solid #cddeff;
}

.navbar-toggle:hover{
  background-color:#20bad1;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color:#cddeff;
    transition: all 0.3s ease-in-out;
}


@media only screen and (max-width: 880px){
    .navbar-container .navbar-menu{
      flex-direction: column;
      display: none;
      align-items: flex-start;
      gap: 1.7rem;
      position: absolute;
      height: fit-content;
      width: 200px;
      top: 0;
      right: 0;
      padding: 5rem 1.5rem;
      background-color:#2a4e9a;
    }
    .navbar-container .navbar-menu.active{
      display: flex;
    }
    .navbar-toggle{
      display: block;
      z-index: 100;
    }
    .navbar-container{
      align-items: flex-end;
      justify-content: flex-end;
      padding-right: 50px;
    }
    .navbar-toggle.active .bar:nth-child(2){
      opacity: 0;
    }
    .navbar-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media only screen and (max-width: 480px){
    .navbar-container{
        padding: 0 1rem;
    }
    .navbar-container .navbar-menu li a{
        font-size: 17px;
        padding: 3px 15px;
    }
}


/*herosection*/

.herosection{
  min-height: 750px;
  background-image: url(../resources/images/brick\ wall\ tryout.png);
  background-size: contain;
  background-repeat: repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
}

.herosection #computerscreen{
  border: 20px solid black;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  min-height: 600px;
  min-width: 60%;
  justify-content: center;
  align-content: center;
  background-color: #cfdcfc;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.herosection #computerscreen #titlebox{
  align-content: center;
  width: 500px;
}

.herosection #computerscreen #titlebox h1{
  text-align: center;
  font-size: 2.5em;
  padding-right: 20px;
  padding-left: 30px;
}

.herosection #computerscreen #titlebox p{
  max-width: 650px;
  font-weight: 500;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 30px;
  font-size: 18px;
  line-height: 1.7rem;
}


.herosection #computerscreen #imagebox img{
  height: 500px;
  width: auto;
  margin-left: -70px;
  margin-top: -30px;
}

#stand{
  display:flex;
  align-content: flex-start;
  justify-content: center;
  background-color:#e6f7fe;
}

#stand img{
    max-width: 800px;
    height: auto;
}

@media only screen and (max-width: 1440px){
  .herosection{
    min-height: 600px;
  }
  .herosection #computerscreen{
    min-height: 450px;
  }
  .herosection #computerscreen #titlebox h1{
    padding-right: 30px;
    padding-left: 30px;
  }
}


@media only screen and (max-width: 1000px){
  .herosection #computerscreen #imagebox img{
    display:none;
  }
}


@media only screen and (max-width: 800px){
  .herosection #computerscreen #titlebox p{
    font-size: 17px;
    padding-bottom: 20px;
  }
  #stand img{
    max-width: 450px;
  }
}

/*keyboard*/

.keyboardsection{
  padding-bottom: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-color:#e6f7fe;
}

.keyboardsection .keyboard{
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1180px;
  justify-content: center;
  align-content: center;
}

.keyboardsection .keyboard .upperrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.keyboardsection .keyboard .bottomrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.keyboardsection .keyboard .item{
    width: 300px;
    height: 150px;
    margin: 20px;
    background-color: #b8ddff;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: rgb(0, 0, 0) 3px 3px;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    padding-top: 8px;
}


.keyboardsection .keyboard h2{
    font-size: 18px;
    padding-top: 10px;
}

.keyboardsection .keyboard p{
    font-size: 17px;
    font-weight: 500;
    line-height: 1.7rem;
    padding: 5px 3px;
}

.keyboardsection .keyboard i{
    font-size: 22px;
}

@media only screen and (max-width: 1440px){
    .keyboardsection .keyboard{
        max-width: 1100px;
    }
    #stand img{
        width: 700px;
        height: auto;
    }
}

@media only screen and (max-width:800px){
  .keyboardsection .keyboard .item{
    padding: 12px 18px;
  }
  .keyboardsection{
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 480px){
  .keyboardsection .keyboard .item{
    padding: 14px 18px;
  }
}

/* webdesign services*/

.webtitle h1{
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-right: 10px;
  padding-left: 10px;
  color:black;
  background-color:#d6e1fc;
}

.webservices{
    display: flex;
    flex-wrap: wrap;
    min-height: 700px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 100px;
    background-color:#d6e1fc;
}

.webservices .iconbox{
    background-color: white;
    border-radius: 20px;
    min-width: 350px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 30px;
    align-content: flex-start;
    transition: transform 0.5s ease-out;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(134, 134, 134, 0.2), 0 5px 14px 0 rgba(138, 138, 138, 0.19);
}

.webservices .iconbox:hover{
  transform: scale(1.05);
}

.webservices .iconbox h2{
  padding: 20px 0px;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 600;
}


.webservices .iconbox i{
  font-size: 3rem;
  text-align: center;
}

.webservices .iconbox p{
  color: rgb(73, 73, 73);
  font-size: 17px;
  font-weight: 500;
  line-height: 1.7rem;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  max-width: 300px;
}

@media only screen and (max-width: 1440px){
  .webservices .iconbox{
    min-width: 350px;
    margin: 15px;
  }
  .webservices{
    justify-content: center;
    min-height: 600px;
  }
}

@media only screen and  (max-width: 800px){
  .webservices .iconbox h2{
    font-size: 18px;
  }
  .webservices .iconbox i{
    font-size: 3.2rem;
  }
  .webservices{
   flex-direction: column;
  }
  .webservices .iconbox{
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media only screen and  (max-width: 500px){
  .webservices .iconbox{
    width: 80vw;
  }
  .webservices .iconbox:hover{
    transform: none;
  }
}


/*Overige services*/

.overigeservices{
  display: flex;
  flex-wrap: wrap;
  min-height: 600px;
  background-color:#e6f7fe;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 70px;
}

.overigeservices .illustratie h1{
  color: black;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 80px;
}

.overigeservices .illustratie img{
  height: 500px;
  width: auto;
}

.overigeservices .servicescolumn{
  max-width: 600px;
}

.overigeservices .servicescolumn .servicesboxes{
  flex-direction: column;
}

.overigeservices .servicescolumn .servicesboxes .service{
  display: flex;
  background-color: white;
  border-radius: 20px;
  margin: 50px 20px;
  padding: 50px 20px;
  transition: transform 0.5s ease-out;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.overigeservices .servicescolumn .servicesboxes .service:hover{
  transform: scale(1.05);
}


.overigeservices .servicescolumn .servicesboxes .service i{
  font-size: 3rem;
  color: #20bad1;
}

.overigeservices .servicescolumn .servicesboxes .service h2{
  color: #20bad1;
  padding-left: 15px;
}

.overigeservices .servicescolumn .servicesboxes .service p{
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7rem;
  color:#636363;
  padding-left: 15px;
}

@media only screen and (min-width: 481px) and (max-width: 768px){
  .overigeservices .illustratie h1{
    font-size: 2.2rem;
    padding-top: 50px;
  }
  .overigeservices .servicescolumn .servicesboxes .service h2{
    font-size: 18px;
  }
  .overigeservices .servicescolumn .servicesboxes .service p{
    font-size: 17px;
  }
}

@media only screen and (max-width: 600px){
  .overigeservices .servicescolumn .servicesboxes .service{
    margin: 50px 10px;
  }
  .overigeservices .illustratie img{
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .overigeservices .illustratie h1{
    padding-top: 30px;
  }
  .overigeservices{
    padding-left: 0px;
    padding-right: 0px;
  }
  .overigeservices .servicescolumn .servicesboxes .service:hover{
    transform: none;
  }
}

/*Hoe ga ik te werk*/

.readytitle{
  background-color:#cddeff;
}

.readytitle h1{
  text-align: center;
  font-size: 3rem;
  color:#2a4e9a;
  font-family: 'Londrina Shadow';
  padding-top: 120px;
}

.hoetewerk{
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #cddeff;
}

.hoetewerk .row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0px 80px;
  margin: 40px 0px;
}

.hoetewerk .row .stepcolumn{
  display: flex;
  width: 50%;
}

.hoetewerk .row .stepcolumn h1{
  font-size: 5rem;
  color:#2a4e9a;
  font-family: 'Londrina Shadow';
}

.hoetewerk .row .stepcolumn h2{
  padding-left: 30px;
  color:#2a4e9a;
}

.hoetewerk .row .stepcolumn p{
  font-size: 17px;
  line-height: 1.7rem;
  color:#494b63;
  font-weight: 500;
  padding-left: 30px;
}

.hoetewerk .row .iconcolumn img{
  height: 400px;
  width: auto;
}


.hoetewerk .launchrow{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0px 70px;
}

.hoetewerk .launchrow .stepcolumn{
  width: 60%;
  display: flex;
  margin: 50px 0px;
}

.hoetewerk .launchrow .stepcolumn h1{
  font-size: 3.5rem;
  color:#2a4e9a;
  font-family: 'Londrina Shadow';
}

.hoetewerk .launchrow .stepcolumn p{
  font-size: 17px;
  line-height: 1.7rem;
  color:#494b63;
  font-weight: 500;
  padding-left: 30px;
}

.hoetewerk .launchrow .stepcolumn h2{
  padding-left: 30px;
  color:#2a4e9a;
}

.hoetewerk .launchrow .iconcolumn img{
  height: 200px;
  width: auto;
  margin-top: -100px;
}

.imagesection{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cddeff;
  padding: 100px 0px;
}

.imagesection img{
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
  margin-left: -450px;
  margin-top: -300px;
  margin-bottom: -300px;
  height: 500px;
  width: auto;
}


@keyframes floating {
    from { transform: translate(0,  0px); }
    to  { transform: translate(0, -120px); } 
}

@media only screen and (max-width: 1000px){
  .hoetewerk .row .stepcolumn{
    width: 85%;
    margin: 20px 0px;
  }
  .hoetewerk .row .stepcolumn h2{
    font-size: 18px;
  }
  .hoetewerk .row .stepcolumn p{
    font-size: 17px;
  }
  .hoetewerk .row{
    margin: 20px 0px;
  }
  .hoetewerk .row .iconcolumn img{
    height: 360px;
  }
  .hoetewerk .launchrow .stepcolumn{
    width: 90%;
  }
  .hoetewerk .launchrow .iconcolumn img{
    display: none;
  }
  .hoetewerk .launchrow .stepcolumn h2{
    font-size: 18px;
  }
  .hoetewerk .launchrow .stepcolumn p{
    font-size: 17px;
  }
  .imagesection img{
    height: 450px;
    margin-left: -470px;
  }
}



@media only screen and (max-width: 700px){
  .hoetewerk .row {
    width: 100%;
  }
  .hoetewerk .row .stepcolumn h2{
    font-size: 18px;
  }
  .hoetewerk .row .stepcolumn h1{
    font-size: 3.1rem;
  }
  .hoetewerk .row .iconcolumn img{
    height: 260px;
  }
  .hoetewerk .launchrow{
    width: 100%;
    padding: 0px 0px;
  }
  .hoetewerk .launchrow .stepcolumn{
    flex-direction: column;
    display: flex;
  }
  .hoetewerk .launchrow .iconcolumn img{
    display: none;
  }
  .hoetewerk .launchrow .stepcolumn h2{
    font-size: 18px;
    padding-top: 10px;
  }
  .hoetewerk .launchrow .stepcolumn p{
    font-size: 17px;
  }
  .hoetewerk .launchrow .stepcolumn h1{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 18px;
  }
  .imagesection img{
    height: 350px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .imagesection{
    padding-top: 90px;
    padding-bottom: 0px;
  }
  .readytitle h1{
    font-size: 2.5rem;
  }
}


/*FAQ*/

.faqsectie{
    padding-top: 150px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    background-color:#e6f7fe;
}


.faqsectie .textcolumn{
    max-width: 500px;
    text-align: left;
    padding-bottom: 30px;
    margin-right: 20px;
}

.faqsectie .textcolumn h2{
    color:rgb(60, 60, 60);
    padding-bottom: 15px;
    padding-left: 10px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.faqsectie .faqcolumn{
  max-width: 900px;
}

.faqsectie .faqcolumn .topbar{
  height: 30px;
  background-color:#b3ccfc;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.faqsectie .faqcolumn .topbar i{
  color: white;
  font-size: 2.5rem;
}

.faqsectie .faqcolumn .bottombar{
  height:30px;
  background-color:#b3ccfc;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
}

.faqsectie .faqcolumn .vragen{
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
    max-height: 600px;
    overflow:scroll;
    border: 3px solid black;
    background-color: white;
}

@media only screen and (max-width: 1440px){
  .faqsectie .faqcolumn .vragen{
    max-height: 450px;
  }
}

.faqsectie .faqcolumn .vragen .vraag{
    margin: 40px 5px;
    text-align: left;
    padding: 0px 60px;
    display: flex;
}

.faqsectie .faqcolumn .vragen .vraag h2{
    color:cadetblue;
    padding-bottom: 4px;
    padding-left: 15px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.faqsectie .faqcolumn .vragen .vraag p{
    padding-left:15px;
    line-height: 1.7rem;
    color:rgb(77, 77, 77);
    font-weight: 500;
    font-size: 17px;
}

.faqsectie .faqcolumn .vragen .vraag i{
    font-size: 27px;
    display: inline;
    color:cadetblue;
}

@media only screen and (max-width: 1440px){
  .faqsectie .faqcolumn .vragen{
    max-height: 450px;
  }
}

.faqsectie .faqcolumn .vragen .vraag{
    margin: 40px 5px;
    text-align: left;
    padding: 0px 60px;
    display: flex;
}

.faqsectie .faqcolumn .vragen .vraag h2{
    color:cadetblue;
    padding-bottom: 4px;
    padding-left: 15px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.faqsectie .faqcolumn .vragen .vraag p{
    padding-left:15px;
    line-height: 1.7rem;
    color:rgb(77, 77, 77);
    font-weight: 500;
    font-size: 17px;
}

.faqsectie .faqcolumn .vragen .vraag i{
    font-size: 27px;
    display: inline;
    color:cadetblue;
}

@media only screen and (min-width: 481px) and (max-width: 768px){
  .faqsectie .faqcolumn .vragen .vraag h2{
    font-size: 18px;
  }
  .faqsectie .faqcolumn .vragen .vraag p{
    font-size: 17px;
  }
  .faqsectie .faqcolumn .vragen .vraag i{
    font-size: 27px;
  }
  .faqsectie .faqcolumn .topbar{
    height: 35px;
  }
  .faqsectie .faqcolumn .bottombar{
    height: 35px;
  }
  .faqsectie .faqcolumn .vragen{
    max-height: 470px;
  }
}

@media only screen and (max-width: 480px){
  .faqsectie .faqcolumn .vragen .vraag{
    padding: 0px 15px;
  }
}

/*Call to action*/
.leesmeer{
  display: flex;
  justify-content: center;
  padding-bottom: 130px;
  padding-top: 70px;
  align-content: center;
  align-items: center;
  background-color:#e6f7fe;
}

.leesmeer .calltoaction{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color:#2a4e9a;
  border-radius: 20px;
  color: #e6f7fe;
  min-width: 55%;
  padding-top: 50px;
  min-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.leesmeer h1{
  padding-bottom: 40px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}

@media only screen and (max-width: 480px){
  .leesmeer h1{
    font-size: 23px;
    padding-left: 23px;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
  .leesmeer h1{
    padding-left: 23px;
    padding-right: 10px;
  }
  .leesmeer .calltoaction{
    width: 80%;
  }
}


/*footer section*/


.footersection .contentrow{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 align-content: center;
 justify-content: space-around;
 background-color:#cddeff;
 padding: 60px 0px;
}


.footersection .contentrow .contentbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footersection .contentrow .contentbox img{
  height: 120px;
  width: auto;
}

.footersection .contentrow .contentbox h2{
  color:#494949
}

.footersection .contentrow .contentbox ul{
  list-style-type: none;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
}

.footersection .contentrow .contentbox a{
  text-decoration: none;
  color:#2a4e9a;
  font-weight: 600;
  transition: color 130ms ease-out 100ms;
}

.footersection .contentrow .contentbox a:hover{
  color: #20bad1;
  background-color: rgba(255, 255, 255, 0);
}


.footersection .contentrow .contentbox i{
  color: #20bad1;
  padding-right: 10px;
  font-size: 1.3rem;
}

.footersection .contentrow .contentbox .footercontact li{
  padding-top: 10px;
}

.footersection .contentrow .contentbox .footermenu li{
  padding-top: 5px;
}

.footersection .copyright{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#2a4e9a;
  color: white;
  padding: 15px 70px;
}

.footersection .copyright .madeby{
  display: flex;
}

.footersection .copyright .madeby i{
  padding-right: 10px;
}

.footersection .copyright a{
  text-decoration: underline;
  color:white;
  font-weight: 500;
  transition: color 130ms ease-out 100ms;
}

.footersection .copyright a:hover{
  color:#cddeff;
}

.footersection .copyright p{
  font-size: 16px;
}

@media only screen and (max-width: 480px){
 .footersection .contentrow{
  flex-direction: column;
 }
 .footersection .contentrow .contentbox{
  margin-top: 40px;
 }
 .footersection .contentrow .contentbox .footermenu{
  display: flex;
 }
 .footersection .contentrow .contentbox .footermenu li{
  margin-right: 20px;
 }
}

