*{
    padding: 0px;
    margin: 0px;
}

/*header section*/
header {
  background-color: #e6f7fe;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header img{
    height: 200px;
    width: 200px;
    padding-left: 50px;
    display: inline;
}

header ul {
  margin: 20px auto;
  padding: 0 20px;
  text-align: center;
  display: inline-block;
}

header li{
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  width: 300px;
}

header i{
  color: #7ba4fc;
  font-size: 1.5rem;
}

.menu {
  background-color: #b1d1d1;
  color: white;
  position: relative;
  top: 200px;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu ul{
  padding: 10px;
  margin: 0px auto;
  text-align: center;
}

.menu .a{
    color:#341e1e;
    transition: color 200ms ease-out 100ms;
}

a:hover {
  color: #d27171;
}

.menu nav {
    display:inline-block;
}