*{
    padding: 0px;
    margin: 0px;
}

p{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

/*header section*/
header .uppercontainer{
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header img{
    height: 200px;
    width: 200px;
    padding-left: 90px;
    display: inline;
}

header .uppercontainer ul {
  margin: 20px auto;
  padding-right: 50px;
  text-align: center;
  display: inline-block;
}


header .uppercontainer li{
  color: black;
  font-family: 'Urbanist', sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  width: 300px;
}

header i{
  color: #7ba4fc;
  font-size: 1.5rem;
}

header .menu {
  background-color: #b1d1d1;
  color: white;
  position: sticky;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

header .menu ul{
  text-align: center;
  display: inline;
  width: 70%;
}

header .menu li{
  color: white;
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  padding: 10px 0px;
  width: 100px;
}

header .menu .a{
    color:#341e1e;
    transition: color 200ms ease-out 100ms;
}

a:hover {
  color: #d27171;
}

/*herosection*/

.herosection{
  min-height: 700px;
  background-color: #e6f7fe;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
}

.herosection #computerscreen{
  border: 20px solid black;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  min-height: 600px;
  min-width: 60%;
  justify-content: center;
  align-content: center;
  background-color: #cfdcfc;
}

.herosection #computerscreen #titlebox{
  align-content: center;
}

.herosection #computerscreen #titlebox h1{
  text-align: center;
  font-size: 3.2em;
  padding-right: 20px;
  padding-left: 25px;
}

.herosection #computerscreen #imagebox{
  height: 400px;
  width: 300px;
  border-radius: 20px;
  background-image: url(../resources/images/download\ \(8\).jpeg);
  background-size: contain;
  background-attachment: fixed;
  align-content: flex-end;
}

.herosection #computerscreen #imagebox img{
  height: 290px;
  width: 165px;
  margin-left: 25px;
}

#stand{
  display:flex;
  align-content: flex-start;
  justify-content: center;
}
