*{
    padding: 0px;
    margin: 0px;
}

p{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

h2{
  font-size: 20px;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}

button{
  background-color:#e6f7fe;
  color: rgb(70, 70, 70);
  font-weight: 600;
  border-radius: 7px;
  font-size: 15px;
  padding: 15px 17px;
  box-shadow: rgb(0, 0, 0) 3px 3px;
  border: 2px solid black;
}


/*header section*/
header {
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header img{
    height: 200px;
    width: 200px;
    padding-left: 90px;
    display: inline;
}

header ul {
  margin: 20px auto;
  padding-right: 50px;
  text-align: center;
  display: inline-block;
}


header li{
  color: black;
  font-family: 'Urbanist', sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  width: 300px;
}

header i{
  color: #7ba4fc;
  font-size: 1.5rem;
}

/*menubar*/

.menubar {
  background-color: #20bad1;
  color: white;
  position: sticky;
  top: 0px;
  min-width: 100%;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.menubar ul{
  text-align: center;
  display: inline;
  width: 70%;
}

.menubar li{
  color: white;
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  padding: 20px 0px;
  width: 100px;
}

.menubar a{
    color: white;
    transition: color 200ms ease-out 100ms;
}

a:hover {
  color: black;
}


/*picture frames section*/

.wallsection{
  background-image: url(../resources/images/brick\ wall\ tryout.png);
  background-size: contain;
  background-repeat: repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-top: 90px;
}

.wallsection .frame img{
  height: 200px;
  width: auto;
  margin-top: -120px;
}

.wallsection .window img{
  border: 7px solid #2d4c9c;
  border-radius: 5px;
  height: 400px;
  width: auto;
  background-image: url(../resources/images/miniclouds.png);
  background-size: contain;
  background-position: center;
  background-attachment:fixed;
  background-repeat: repeat;
}

@media only screen and (max-width: 1440px){
  .wallsection .window img{
    height: 350px;
  }
  .wallsection .frame img{
    margin-top: -180px;
  }
}

/*herosection*/

.herosection{
  background-color: #e6f7fe;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  background-image: url(../resources/images/brick\ wall\ tryout.png);
  background-size: contain;
  background-repeat: repeat;
}

.herosection #computerscreen{
  border: 20px solid black;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  min-height: 600px;
  min-width: 60%;
  margin-top: -150px;
  justify-content: center;
  align-content: center;
  background-color: #cfdcfc;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media only screen and (max-width: 1440px){
  .herosection #computerscreen{
    min-height: 500px;
  }
  .herosection #computerscreen #titlebox h1{
    padding-right: 30px;
    padding-left: 30px;
  }
}

.herosection #computerscreen #titlebox{
  align-content: center;
}

.herosection #computerscreen #titlebox h1{
  text-align: center;
  font-size: 2.5em;
  padding-right: 20px;
  padding-left: 30px;
}

.herosection #computerscreen #titlebox p{
  max-width: 600px;
  font-weight: 500;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 20px;
  font-size: 20px;
  line-height: 1.8rem;
}


.herosection #computerscreen #imagebox img{
  height: 650px;
  width: auto;
  margin-left: 25px;
  margin-top: -195px;
}

#stand{
  display:flex;
  align-content: flex-start;
  justify-content: center;
  background-color:#e6f7fe;
}

#stand img{
    max-width: 800px;
    height: auto;
}

/*keyboard*/

.keyboardsection{
  min-height: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-color: #e6f7fe;
  padding-bottom: 30px;
}

.keyboardsection .keyboard{
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  min-height: 550px;
  min-width: 1180px;
  justify-content: center;
  align-content: center;
  background-color: #d8d8d8;
  box-shadow: rgba(14, 14, 14, 0.4) 0px 2px 4px, rgba(146, 146, 146, 0.3) 0px 7px 13px -10px, rgba(134, 134, 134, 0.2) 5px -10px 0px inset;
}

.keyboardsection .keyboard .keyboardtitle h1{
  text-align: center;
  color:rgb(46, 46, 46);
  font-size: 2rem;
  font-family: monospace;
  padding-bottom: 6px;
}

.keyboardsection .keyboard .upperrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.keyboardsection .keyboard .bottomrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.keyboardsection .keyboard .item{
    width: 300px;
    height: 150px;
    margin: 20px;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(14, 14, 14, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -7px, rgba(0, 0, 0, 0.2) 3px -7px 0px inset;
    box-sizing: border-box;
    color: #36395A;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    padding-top: 6px;
    transition: 150ms ease-out 50ms;
}

.keyboardsection .keyboard .item:hover{
    margin-bottom: 10px;
}

.keyboardsection .keyboard h2{
    font-size: 17px;
    padding-top: 10px;
    font-family: monospace;
}

.keyboardsection .keyboard p{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7rem;
    padding: 5px 3px;
    font-family: monospace;
}

.keyboardsection .keyboard i{
    font-size: 22px;
}

@media only screen and (max-width: 1440px){
    .keyboardsection .keyboard{
        min-width: 1100px;
    }
    #stand img{
        width: 700px;
        height: auto;
    }
}



/*Breng je ideeen tot leven*/
.ideeen{
  background-color:#e6f7fe;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 850px;
  padding-bottom: 50px;
}


.ideeen h1{
  text-align: center;
  font-size: 3rem;
  padding-top: 100px;
  color:#7ba4fc;
}

.ideeen .overmij{
  max-width: 700px;
}

.ideeen img{
  height: 100px;
  width: 100px;
  margin-left: -430px;
}

.ideeen .overmij .topbar{
  height: 30px;
  background-color: #b3ccfc;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.ideeen .overmij .topbar i{
  color: white;
  font-size: 2.5rem;
}

.ideeen .overmij .bottombar{
  height:30px;
  background-color:#b3ccfc;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
}

.ideeen .overmij .overmijtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    align-content: center;
    padding-right: 10px;
    height: 400px;
    border: 3px solid black;
    background-color: #f6f6f6;
    background-image: url(../resources/images/smallerpaintsplash.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.ideeen .overmijtext h2{
  color:#323232;
  padding-bottom: 15px;
  font-size: 1.5rem;
}

.ideeen .overmij .overmijtext p{
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 30px;
    line-height: 1.7rem;
    color:rgb(77, 77, 77);
    font-weight: 500;
    font-size: 17px;
}


/*columns with icons*/
.iconsection{
    display: flex;
    flex-wrap: wrap;
    min-height: 700px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 100px;
    padding-top: 50px;
    background-color:#cddeff;
}

.iconsection .iconbox{
    background-color: white;
    border-radius: 20px;
    min-width: 450px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 30px;
    align-content: center;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(134, 134, 134, 0.2), 0 5px 14px 0 rgba(138, 138, 138, 0.19);
    transition: background-color 200ms ease-out 100ms;
}

.iconsection .iconbox h2{
  padding: 20px 0px;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.iconsection #creatief:hover{
  background-color: #dee6fa;
}

.iconsection #functioneel:hover{
  background-color: #e6f7fe;
}

.iconsection #support:hover{
  background-color: #c8e0e0;
}

.iconsection #creatief img{
  height: 63px;
  width: 66px;
}

.iconsection #functioneel img{
  height: 75px;
  width: 75px;
}

.iconsection #support img{
  height: 67px;
  width: 74px;
}

.iconsection .iconbox p{
  max-width: 300px;
  color: rgb(73, 73, 73);
  font-size: 17px;
  font-weight: 500;
  line-height: 1.7rem;
}

@media only screen and (max-width: 1440px){
  .iconsection .iconbox{
    min-width: 350px;
    min-height: 400px;
    margin: 15px;
  }

  .iconsection .iconbox p{
    max-width: 270px;
  }
  .iconsection{
    justify-content: center;
    min-height: 600px;
  }
}

/*recente projecten*/
.projecten{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 400px;
  align-content: center;
  padding-bottom: 130px;
  background-color:#cddeff;
}

.projectentitle h1{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color:black;
  padding-top: 100px;
  background-color:#cddeff;
}

.projecten .previewimage img{
  height: 230px;
  width: auto;
  margin-right: 40px;
}

@media only screen and (max-width: 1440px){
  .projecten .previewimage img{
    height: 210px;
    width: auto;
  }
  .projecten{
    min-height: 400px;
    padding-bottom: 80px;
  }
}

/*review section*/

.reviewtitle{
  display: flex;
  justify-content: center;
  background-color:#e6f7fe;
  padding-top: 100px;
  padding-bottom: 70px;
}


.reviews{
    background-color:#e6f7fe;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 350px;
    align-content: center;
    padding-bottom: 110px;
}

.reviews .reviewbox{
     text-align: left;
     padding: 50px;
     background-color: white;
     max-height: 300px;
     max-width: 400px;
     margin: 0px 40px;
     border-radius: 20px;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.reviews .reviewbox img{
  height: 65px;
  width: auto;
  padding-bottom: 5px;
}


