*{
    padding: 0px;
    margin: 0px;
}

p{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

h2{
  font-size: 20px;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}

button{
  background-color:#e6f7fe;
  color: rgb(70, 70, 70);
  font-weight: 600;
  border-radius: 7px;
  font-size: 15px;
  padding: 15px 17px;
  box-shadow: rgb(0, 0, 0) 3px 3px;
  border: 2px solid black;
  transition: all 250ms ease-out 100ms;
}

button:hover{
  background-color: #cddeff;
  box-shadow: none;
  cursor: pointer;
}


/*header section*/
header {
  background-color: #e6f7fe;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0px
}

header img{
    height: 110px;
    width: auto;
    display: inline;
    padding-left: 90px;
}


header .contentbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .contentbox ul{
  list-style-type: none;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  padding-right: 90px;
}


header .contentbox i{
  color: #20bad1;
  padding-right: 10px;
  font-size: 1.5rem;
}

header .contentbox .headercontact li{
  padding-top: 10px;
}

@media only screen and (min-width: 481px) and (max-width: 768px){
  header img{
    height: 90px;
  }
}

@media only screen and (max-width: 480px){
 header .contentbox{
  margin-right:auto;
  margin-left: auto;
 }
 header img{
  padding-left: 0px;
 }
}

/*menu*/

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
    position: sticky;
    top: 0;
    background-color: #2a4e9a;
    color:#cddeff;
    z-index: 100;
}

.navbar-container{
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
}

.navbar-container .navbar-menu{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style-type: none;
}

.navbar-container .navbar-menu li a{
    color: #e6f7fe;
    transition: all 200ms ease-out 100ms;
    text-decoration: none;
    padding: 7px 10px;
    border: 2px solid #cddeff;
    border-radius: 10px;
    box-shadow: #cddeff 3px 3px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.navbar-container .navbar-menu li a:hover{
  color: white;
  background-color: #20bad1;
}

.navbar-toggle{
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color:#cddeff;
    transition: all 0.3s ease-in-out;
}