*{
    padding: 0px;
    margin: 0px;
}

p{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1{
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

h2{
  font-size: 20px;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}

button{
  background-color:#e6f7fe;
  color: rgb(70, 70, 70);
  font-weight: 600;
  border-radius: 7px;
  font-size: 15px;
  padding: 15px 17px;
  box-shadow: rgb(0, 0, 0) 3px 3px;
  border: 2px solid black;
  transition: all 250ms ease-out 100ms;
}

button:hover{
  background-color: #cddeff;
  box-shadow: none;
  cursor: pointer;
}


/*header section*/
header {
  background-color: #e6f7fe;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0px
}

header img{
    height: 110px;
    width: auto;
    display: inline;
    padding-left: 90px;
}


header .contentbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .contentbox ul{
  list-style-type: none;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  padding-right: 90px;
}


header .contentbox i{
  color: #20bad1;
  padding-right: 10px;
  font-size: 1.5rem;
}

header .contentbox .headercontact li{
  padding-top: 10px;
}

@media only screen and (min-width: 481px) and (max-width: 768px){
  header img{
    height: 90px;
  }
}

@media only screen and (max-width: 480px){
 header .contentbox{
  margin-right:auto;
  margin-left: auto;
 }
 header img{
  padding-left: 0px;
 }
}

/*menu*/

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
    position: sticky;
    top: 0;
    background-color: #2a4e9a;
    color:#cddeff;
    z-index: 100;
}

.navbar-container{
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
}

.navbar-container .navbar-menu{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style-type: none;
}


.navbar-container .navbar-menu li a{
    color: #e6f7fe;
    transition: all 200ms ease-out 100ms;
    text-decoration: none;
    padding: 7px 10px;
    border: 2px solid #cddeff;
    border-radius: 10px;
    box-shadow: #cddeff 3px 3px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active{
  color: white;
  background-color: #20bad1;
}

.navbar-toggle{
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;
    box-shadow: #cddeff 3px 3px;
    border: 2px solid #cddeff;
}

.navbar-toggle:hover{
  background-color:#20bad1;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color:#cddeff;
    transition: all 0.3s ease-in-out;
}


@media only screen and (max-width: 880px){
    .navbar-container .navbar-menu{
      flex-direction: column;
      display: none;
      align-items: flex-start;
      gap: 1.7rem;
      position: absolute;
      height: fit-content;
      width: 200px;
      top: 0;
      right: 0;
      padding: 5rem 1.5rem;
      background-color:#2a4e9a;
    }
    .navbar-container .navbar-menu.active{
      display: flex;
    }
    .navbar-toggle{
      display: block;
      z-index: 100;
    }
    .navbar-toggle.active .bar:nth-child(2){
      opacity: 0;
    }
    .navbar-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media only screen and (max-width: 480px){
    .navbar-container{
        padding: 0 1rem;
    }
    .navbar-container .navbar-menu li a{
        font-size: 17px;
        padding: 3px 15px;
    }
}

/*accordion*/

.accordion{
 max-width: 60%;
 margin-left: auto;
 margin-right: auto;
}

.accordion-item{
  margin: 1rem 0;
  background-color:#e6f7fe;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: rgb(0, 0, 0) 3px 3px;
}

.accordion-item-header{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  cursor: pointer;
}

.accordion-item-header i{
  transition: all 0.2s ease-in-out;
}

.accordion-item-header.active i{
  transform: rotate(180deg);
}


.accordion-item-body{
  font-size: 17px;
  font-weight: 500;
  line-height: 1.8rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


.accordion-item-body-content{
  border-top: 2px solid black;
  padding: 1.5rem;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.8rem;
}

